body, html {
  background-color: #8D99AE;
  margin: 0;
  text-align: center;
}

button {
  background-color: #EDF2F4;
}

header {
  background-color: #2B2D42;
  color: #EF233C;
  padding: 10px;
}

input {
  background-color:#D90429;
}

#reset {
  margin-top: 10px;
}

#results {
  background-color: #EDF2F4;
  border: solid 1px #2B2D42;
  border-radius: 5px;
  color: #2B2D42;
  display: none;
  margin: 0 auto;
  padding: 20px;
  width: 20%;
}

#selectors {
  padding: 10px 0;
}

.subtitle {
  margin-top: 0;
}

.title {
  margin: 0;
}
